<div class="d-flex flex-row">
  <mat-tab-group >
    <mat-tab label="Inventory">
      <app-inventory-page></app-inventory-page>
    </mat-tab>
    <mat-tab label="Decks" >
      <ng-template matTabContent>
        <app-decks-page></app-decks-page>
      </ng-template>
    </mat-tab>
    <mat-tab label="Wishlist">
      <ng-template matTabContent>
        <app-wishlist-page></app-wishlist-page>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<ngb-toast
    *ngFor="let toast of toastService.toasts"
    class="bg-success text-light"
    [autohide]="true" [delay]="toast.delay || 5000"
    (hidden)="toastService.remove(toast)"
{{toast.body}}</ngb-toast>
