
<mat-tab-group>
  <mat-tab label="Inventory" >
    <app-inventory-page></app-inventory-page>
  </mat-tab>
  <mat-tab label="Decks" >
    <ng-template matTabContent>
      <app-decks-page></app-decks-page>
    </ng-template>
  </mat-tab>
  <mat-tab label="Wishlist">
    <ng-template matTabContent>
      <app-wishlist-page></app-wishlist-page>
    </ng-template>
  </mat-tab>
</mat-tab-group>





<!--<div class="d-flex flex-column flex-shrink-0 p-3 bg-transparent border" style="padding:10px; width: 200px; height:400px">-->
<!--  <hr>-->
<!--  <ul class="nav nav-pills flex-column mb-auto">-->
<!--    <li class="nav-item">-->
<!--      <a  [routerLink]="[ '/', 'inventory' ]" class="nav-link link-light" aria-current="page">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase-fill" viewBox="0 0 16 16">-->
<!--          <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v1.384l7.614 2.03a1.5 1.5 0 0 0 .772 0L16 5.884V4.5A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5z"/>-->
<!--          <path d="M0 12.5A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5V6.85L8.129 8.947a.5.5 0 0 1-.258 0L0 6.85v5.65z"/>-->
<!--        </svg>-->
<!--        Inventory-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a [routerLink]="[ '/', 'decks' ]" class="nav-link link-light">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">-->
<!--          <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>-->
<!--        </svg>-->
<!--        Decks-->
<!--      </a>-->
<!--    </li>-->
<!--    <li>-->
<!--      <a [routerLink]="[ '/', 'wishlist' ]" class="nav-link link-light">-->
<!--        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">-->
<!--          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>-->
<!--        </svg>-->
<!--        Wishlist-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--  <hr>-->
<!--</div>-->
