.btn {
  opacity: 0.7;
  width: 287px;
  height: 400px;
}

/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

img {
  width: 150px;
  height: 200px;
}

.search {
  background-color: transparent;
  border: none;
}
