<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img src="assets/dragon.png" class="dragon" alt="dragon">
    <a class="navbar-brand text-light" href="#">Legendary Dragon</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
      </div>

      <ng-container *ngIf="(isLoggedIn$ | async); else loggedOut">
        <span class="navbar-text text-white me-2" *ngIf="user$ | async as user">
          Hi, {{user.nickname}}
        </span>

        <button class="btn btn-outline-light" type="submit" (click)="logout()">Logout</button>
      </ng-container>
    </div>
  </div>
</nav>

<ng-template #loggedOut>
  <a routerLink="/login" class="btn btn-outline-light me-2" type="submit">Log in</a>
  <a routerLink="/register" class="btn btn-outline-light" type="submit">Register</a>
</ng-template>
