<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-2"></div>
      <div class="col-md-4 col-sm-4 col-xs-8">
        <form class="" [formGroup]="form" (ngSubmit)="login()">
          <div class="row white-background">
            <h1>Log in</h1>
            <label class="form-label left-right-padding">Email</label>
            <div class="spacing left-right-padding">
              <input
                type="email"
                name="email"
                class="form-control spacing"
                placeholder="Email address"
                [formControlName]="'email'"
              />
            </div>
            <label class="form-label left-right-padding">Password</label>
            <div class="spacing left-right-padding">
              <input
                type="password"
                name="password"
                class="form-control spacing"
                placeholder="Password"
                [formControlName]="'password'"
              />
            </div>
            <div *ngIf="loginFailed" class="col-6">
              Email or password is incorrect.
            </div>
          
            <div *ngIf="loginSuccess" class="col-6">
              Login correct, redirecting to dashboard!
            </div>
            <div class="col-md-6 left-right-padding button-padding">
              <button [disabled]="loginSuccess" type="submit" class="btn btn-outline-light spacing">Login</button>
            </div>
            <p class="text-center">
              Don't have an account?
              <a
                routerLink="/register"
                class="text-light"
              >Register here</a
              >
            </p>
          </div>
          
        </form>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-2"></div>
    </div>
  </div>
</div>



