<div class="page">
  <div class="container">
    <div class="row"> 
      <div class="col-md-4 col-sm-4 col-xs-2"></div>
      <div class="col-md-4 col-sm-4 col-xs-8">
        <form class="" [formGroup]="form" (ngSubmit)="registerUser()">
          <div class="row row-col-1 align-items-center white-background">
            <h1>Register</h1>
            <label class="form-label left-right-padding">Email</label>
            <div class="spacing left-right-padding">
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Your email"
                [formControlName]="'email'"
              />
            </div>
            <label class="form-label left-right-padding">Nickname</label>
            <div class="spacing left-right-padding">
              <input
                type="name"
                name="name"
                class="form-control"
                placeholder="Your nickname"
                [formControlName]="'name'"
              />
            </div>
            <label class="form-label left-right-padding">Password</label>
            <div class="spacing left-right-padding">
              <input
                type="password"
                name="password"
                class="form-control"
                placeholder="Password"
                [formControlName]="'password'"
              />
            </div>
            <label class="form-label left-right-padding">Confirm password</label>
            <div class="spacing left-right-padding">
              <input
                type="password"
                name="confirm password"
                class="form-control"
                placeholder="Password"
                [formControlName]="'password'"
              />
            </div>
            <div *ngIf="registerFail" class="col-6">
              Email already exists!
            </div>
            <div *ngIf="registerFail" class="col-6">
              Nickname must be atleast 3 characters long!
            </div>
            <div *ngIf="registerFail" class="col-6">
              Password must be atleast 10 characters long and contains uppercase, numbers and symbols!
            </div>
            <div *ngIf="registerFail" class="col-6">
              The repeated password does not match!
            </div>
            <div *ngIf="registerSuccess" class="col-6">
              Succesfully registered account!
            </div>
            <div class="col-6 left-right-padding">
              <button [disabled]="registerSuccess" type="submit" class="btn btn-outline-light spacing">Register</button>
            </div>
            <p class="text-center">
              Already have an account?
              <a
                routerLink="/login"
                class="text-light"
              >Login here</a
              >
            </p>
          </div>
        </form>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-2"></div>
    </div>
  </div>
</div>

