<div class="collection-card">

  <img src="{{card.image_url}}" alt="{{card.card_name}} image" class="card-image" />

  <div class="d-flex justify-content-end pointer" (click)="open({content : content});">
    <button type="button" class="btn-close m-2 bg-light" aria-label="Close"
            (click)="removeCard()"></button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header card-modal bg-dark">
    <h1 class="modal-title" id="modal-basic-title">{{card.card_name}}</h1>
    <button type="button" class="btn-close btn-close-white" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body card-modal text-black">
    <div class="d-flex justify-content-between">
      <div>
        <h2>Value: {{displayAvailablePrice(card.prices)}}</h2>
        <h2> Mana Costs:{{card.mana_cost}}</h2>
        <h2>Card Text:{{card.oracle_text}}</h2>
        <h2>Rarity: {{card.rarity | titlecase}}</h2>
        <h2>Quality: {{card.quality}}</h2>
        <h2>
          Deck location:
          <span *ngIf="card.deck_location !== ''" class="badge text-bg-info fw-normal">
            {{card.deck_location}}
          </span>
          <span *ngIf="card.deck_location == ''" class="badge text-bg-info fw-normal">
            Unassigned
          </span>
        </h2>
        <h2>Set Name: {{card.set_name}}</h2>
        <h2>Colors:
          <span *ngIf="card.colors.length === 0">Colorless</span>
          {{card.colors}}
        </h2>
        <h2>
          Added at: {{card.created_at | date:'dd/MM/yyyy HH:mm'}}
        </h2>
      </div>
      <img src={{card.image_url}} alt="{{card.card_name}} image" class="card-image" loading="lazy">
    </div>
  </div>
</ng-template>
