<div class="card-size">
  <img src={{card.imageUrl}}
       (click)="open({content : content}, card);"
       alt="image"
       class="card-img">
</div>

<ng-template #content let-modal>
  <div class="modal-header" [ngStyle]="{'background-color': 'gray'}">
    <h1 class="modal-title" id="modal-basic-title">{{card.name}}</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" [ngStyle]="{'background-color': 'gray'}" >
    <div [ngStyle]="{'display': 'flex', 'justify-content': 'space-between'}">
      <div>
        <h2>Name: {{card.name}}</h2>
        <h2>Text: {{card.text}}</h2>
        <h2>Cost: {{card.cost}}</h2>
        <h2>Power: {{card.power}}</h2>
        <h2>Toughness: {{card.toughness}}</h2>
      </div>
      <div style="width: 250px; height: 400px;">
        <img src={{card.imageUrl}}
             alt="image">
      </div>
    </div>
  </div>

</ng-template>
