<div class="collection-card">
  <img src={{card.imageUrl}}
       (click)="open({content : content}, card);"
       alt="image" class="card-image">
  <div class="d-flex justify-content-end">
    <button type="button" class="btn-close m-2 bg-light" aria-label="Close"
            (click)="removeCard()"></button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header card-modal">
    <h1 class="modal-title" id="modal-basic-title">{{card.name}}</h1>
    <button type="button" class="btn-close btn-close-white" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body card-modal">
    <div class="d-flex justify-content-between">
      <div>
        <h2>Name: {{card.name}}</h2>
        <h2>Text: {{card.text}}</h2>
        <h2>Cost: {{card.cost}}</h2>
        <h2>Power: {{card.power}}</h2>
        <h2>Toughness: {{card.toughness}}</h2>
      </div>
      <img src={{card.imageUrl}}
           alt="image" class="card-image">
    </div>
  </div>

</ng-template>
