<div class="container-fluid p-5 pt-2 m-0">
    <div class="row row-cols-auto">
      <div class="d-flex mb-3 mt-3 me-3 bg-light bg-opacity-25 rounded-1 p-0 shadow">
        <button type="button" (click)="open({content : content});" data-bs-toggle="modal" data-bs-target="#modal" class="btn btn-secondary opacity-25 flex-grow-1 add-deck-button" name=openCreateDeckModal>
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
          </button>
      </div>

      <div *ngIf="hasError$ | async" class="text-danger alert alert-warning me-2" role="alert">
        An error has occured while loading your decks. Please try again.
      </div>

      <ng-container *ngIf="decks$ | async as decks">
        <div class="card deck-card me-3 mt-3 bg-dark shadow" *ngFor="let deck of decks; let i = index">
          <div class="card-body pointer" [routerLink]="['/decks', deck.deck_id]" aria-label="deck">
            <h2 class="card-title text-center">
              {{deck.deck_name}}
              <br/>
              <span class="badge rounded-pill text-bg-info fw-normal">
                {{deck.deck_type}}
              </span>

            </h2>
            <p class="card-text fs-6">
              Current deck value:
            </p>

            <span class="badge rounded-pill text-bg-success price-text fw-normal me-2 mt-2"
                  *ngFor="let deckValue of deck.total_value | keyvalue">
              {{deckValue.key.toUpperCase().replace("_", " ")}}: {{deckValue.value}}
            </span>
          </div>
          <div class="btn-group p-0">
            <button type="button" class="btn action-button" [routerLink]="['/decks', deck.deck_id]" name="navigateToDeck">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg>
            </button>
            <button type="button" class="btn delete-icon action-button" (click)="removeDeck(deck.deck_id)" name="removeDeck" [disabled]="isLoading$ | async">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </div>
        </div>
      </ng-container>

      <div class="text-center ms-3" *ngIf="isLoading$ | async">
        <span class="spinner-border spinner-border mt-3" role="status" aria-hidden="true">
        </span>
      </div>
    </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header bg-dark">
    <h4 class="modal-title text-light fs-4 text" id="modal-basic-title">Add deck</h4>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <label class="form-label text-dark" for="name">Name:</label>
      <input type="name" name="name" class="form-control" placeholder="ex. Mono Deck" [formControlName]="'name'" id="name"
             [ngClass]="{'is-valid': name.valid && name.touched,
                   'is-invalid': name.invalid && name.touched}">

      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger alert alert-warning mt-2" role="alert">
        Deck must contain a name
      </div>

      <label class="form-label text-dark gap" for="decktype">Deck type:</label>
      <input type="decktype" name="decktype" class="form-control" placeholder="ex. EDH/Commander" [formControlName]="'decktype'" id="decktype"
             [ngClass]="{'is-valid': type.valid && type.touched,
                   'is-invalid': type.invalid && type.touched}">


      <div *ngIf="type.invalid && (type.dirty || type.touched)" class="text-danger alert alert-warning mt-2" role="alert">
        Deck must contain a type
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" name=createDeck (click)="addDeck()" [disabled]="form.invalid">Save</button>
  </div>
</ng-template>
