.col-6 {
  margin-top: 50px;
}

/* Start Scrolling Styles */
.deck-viewport {
  height: 350px;
  width: 100%;
  border: 3px solid black;
}

.deck-item {
  height: 50px;
}

.sidedeck-item {
  height: 100%;
  width: 60px;
  padding: 8px;
}

:host ::ng-deep .cdk-virtual-scroll-content-wrapper {
  background: grey;
}

/* End Scrolling Styles */

/* Start Card styles */
:host ::ng-deep .card-img {
  width: 145px;
  height: 200px;
  padding: 2px;
}

:host ::ng-deep .card-size {
  width: 145px;
  height: 200px;
  display: contents;
}


/* End Card Styles */


/* Start Add Card Styling */
:host ::ng-deep .add-card {
  width: 145px;
  height: 200px;
  max-height: 195px;
  opacity: 1;
}

.card-position {
  display: contents;
  padding: 2px 3px 2px 2px;
}

/* End Add Card Styling */

.card-counts {
  font-size: 30px
}

.card-price {
  font-size: 25px;
}

.latest-row-margin {
  margin-top:40px
}
