<div class="collection-card card-size" aria-label="wishlist-card">
  <img class="card-image" src="{{wishlist_item.image_url}}" alt="Card Name" loading="lazy">
  <div class="d-flex justify-content-end pointer" (click)="open({content : content});"></div>
</div>

<div class="btn-group card-action-footer" role="group" aria-label="Basic-example">
  <button type="button"  name="detailWishlistItem" (click)="open({content : content});"  class="btn btn-dark">
    <i class="bi bi-eye"></i>
  </button>
  <button type="button" class="btn btn-dark" name="removeWishlistItem" (click)="removeWishlistItem(wishlist_item)"
          [disabled]="isLoading$ | async">
    <i class="bi bi-trash"></i>
  </button>
</div>

<ng-template #content let-modal>
  <div class="modal-header bg-dark">
    <h2 class="modal-title" id="modal-basic-title">Manage wishlist alerts: {{wishlist_item.card_name}}</h2>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')">
    </button>
  </div>

  <div class="modal-body bg-body-secondary text-black">
    <mat-form-field>
      <mat-label>Alert Type</mat-label>
      <mat-select [(ngModel)]="alertType">
        <mat-option value="{{alertTypeEnum.PRICE}}">Price Alert</mat-option>
        <mat-option value="{{alertTypeEnum.AVAILABILITY}}" *ngIf="!hasAvailabilityAlert">Availability Alert</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="alertType === alertTypeEnum.PRICE" class="ms-3">
      <mat-label>Price point</mat-label>
      <input name="pricePointInput" matInput [(ngModel)]="pricePoint" min="0">

    </mat-form-field>

    <button name="addAlertButton" class="btn btn-outline-dark ms-2" (click)="addAlert(wishlist_item)"
            [disabled]="isInvalidPricePoint">
      Add Alert
    </button>
    <hr/>

    <div *ngIf="hasError$ | async" class="text-danger alert alert-warning me-2" role="alert">
      An error has occured. Please try again.
    </div>

    <div class="text-center mt-2 mb-2" *ngIf="isLoading$ | async">
      <span class="spinner-border spinner-border mt-3" role="status" aria-hidden="true">
      </span>
    </div>

    <ng-container *ngIf="alert_items$ | async as alert_items">
      <ul class="list-group" *ngFor="let alert_item of alert_items; let i = index">
        <li class="list-group-item fs-5">
          <button class="btn btn-lg me-3" (click)="removeAlert(alert_item)" aria-label="Button with a delete icon" [disabled]="isLoading$ | async" name="alert-{{i}}-remove-btn">
            <i class="bi bi-trash"></i>
          </button>
          <ng-container *ngIf="alert_item.entity_type === 'ALERT#PRICE'; else availability_alert">
            Price alert: < {{alert_item.price_point}}
          </ng-container>
        </li>
      </ul>
    </ng-container>
  </div>
</ng-template>

<ng-template #availability_alert>
  Availability alert
</ng-template>
