<div class="card-container">
  <img class="card-image" src="{{wishlist_item.image_url}}}" alt="Card Name">
  <h2 class="card-name">{{wishlist_item.card_name}}</h2>
</div>
<div class="btn-group card-action-footer" role="group" aria-label="Basic example">
  <button type="button"  (click)="open({content : content});"  class="btn btn-dark">Alerts</button>
  <button type="button" (click)="removeWishlistItem(wishlist_item)" class="btn btn-dark">Remove wishlist item</button>
  <button type="button"  class="btn btn-dark" name="removeCardFromInventory"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
  </svg></button>
</div>

<ng-template #content let-modal>
  <div class="modal-header" [ngStyle]="{'background-color': 'gray'}">
    <h4 class="modal-title" id="modal-basic-title">Manage price alerts for {{wishlist_item.card_name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body" [ngStyle]="{'background-color': 'gray'}" >
    <div>
      <mat-form-field>
        <mat-label>Alert Type</mat-label>
        <mat-select [(ngModel)]="alertType">
          <mat-option value="PRICE">Price Alert</mat-option>
          <mat-option value="AVAILABILITY">Availability Alert</mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="alertType === 'ALERT#PRICE'">
        <input type="text" id="price_point" name="price_point" [(ngModel)]="pricePoint">
      </div>
      <button mat-raised-button color="primary" (click)="addAlert(wishlist_item)" >Add Alert</button>
    </div>
    <h1>_______________________________________________________________________________________________________</h1>

    <ng-container *ngIf="alert_items$ | async as alert_items">
      <ul class="list-group" class="col" *ngFor="let alert_item of alert_items">
        <li class="list-group-item">{{alert_item.entity_type}} || {{alert_item.price_point}}
          <button mat-fab color="primary"  (click)="removeAlert(alert_item)"  aria-label="Example icon button with a delete icon"><mat-icon>delete</mat-icon>
        </button></li>
      </ul>
    </ng-container>
  </div>




</ng-template>
