.btn {
  opacity: 0.7;
  width: 250px;
  height: 400px;
}

/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

//.modal-header {
//  width: 850px;
//}
//
//.modal-body {
//  width: 850px;
//}

img {
  width: 150px;
  height: 200px;
}
