<ul class="list-group list-group-horizontal text-center rounded-0 card-action-footer">
  <li class="list-group-item fs-6-text flex-fill text-truncate bg-dark text-white">
    {{card.deck_location || "Unassigned"}}
  </li>
</ul>

<div class="collection-card card-size" aria-label="collection-card">
  <img src="{{card.image_url}}" alt="{{card.card_name}} image" class="card-image" />
  <div class="d-flex justify-content-end pointer" (click)="open({content : content});"></div>
</div>

<ul class="list-group list-group-horizontal rounded-0 card-action-footer">
  <li class="list-group-item fs-6-text flex-fill rounded-0 bg-dark text-white">
    {{displayAvailablePrice(card.prices)}}
  </li>
  <li class="list-group-item fs-6-text flex-fill rounded-0 text-truncate bg-dark text-white">
    {{card.quality }}
  </li>
  <li class="list-group-item fs-6-text btn btn-sm bg-dark text-white rounded-0 flex-fill" id="card-remove-btn" name="removeCardFromInventory" (click)="removeCardFromInventory(card.card_id)">
    <i class="bi bi-x"></i>
  </li>
</ul>

<ng-template #content let-modal>
  <div class="modal-header card-modal bg-dark">
    <h1 class="modal-title" id="modal-basic-title">
      {{card.card_name}}
      <app-color-icon [colors]="card.colors"></app-color-icon>

      <br/>
      <span class="badge text-bg-success mt-1">
        {{card.quality}}
      </span>

    </h1>
    <button type="button" class="btn-close btn-close-white" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body card-modal text-black">
    <div class="d-flex justify-content-between">
      <div class="w-100">
        <h2>
          Deck <i class="bi bi-geo-alt-fill ms-1 me-1"></i>:
          <span  class="badge text-bg-info fw-normal">
            {{card.deck_location || "Unassigned"}}
          </span>
        </h2>
        <h2>
          Rarity <i class="bi bi-stars ms-1 me-1"></i>:
          {{card.rarity}}
        </h2>
        <h2>
          Set <i class="bi bi-collection-fill ms-1 me-1"></i>:
          {{card.set_name}}
        </h2>
        <h2>
          Added at <i class="bi bi-calendar-event-fill ms-1 me-1"></i>:
          {{card.created_at | date:'dd/MM/yyyy HH:mm'}}
        </h2>

        <hr/>

        <div class="text-center ms-3" *ngIf="isCardDetailLoading$ | async; else card_detail">
          <span class="spinner-border spinner-border mt-3" role="status" aria-hidden="true"></span>
        </div>

        <ng-template #card_detail>
          <ng-container *ngIf="card_details$ | async as card_details">
          <div class="container">
            <div class="row">
              <div class="col" *ngFor="let card_face of card_details.card_faces">
                <app-card-face [colors]="card.colors" [card_face]="card_face"></app-card-face>
              </div>
            </div>
          </div>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>
