<ul class="list-group list-group-horizontal text-center rounded-0 card-action-footer">
  <li class="list-group-item fs-6-text flex-fill text-truncate bg-dark text-white">
    {{card.deck_location || "Unassigned"}}
  </li>
</ul>

<div class="collection-card card-size" aria-label="collection-card">
  <img src="{{card.image_url}}" alt="{{card.card_name}} image" class="card-image" />
  <div class="d-flex justify-content-end pointer" (click)="open({content : content});"></div>
</div>

<ul class="list-group list-group-horizontal rounded-0 card-action-footer">
  <li class="list-group-item fs-6-text flex-fill rounded-0 bg-dark text-white">
    {{displayAvailablePrice(card.prices)}}
  </li>
  <li class="list-group-item fs-6-text flex-fill rounded-0 text-truncate bg-dark text-white">
    {{card.quality }}
  </li>
  <li class="list-group-item fs-6-text btn btn-sm bg-dark text-white rounded-0 flex-fill" id="card-remove-btn" name="removeCardFromInventory" (click)="removeCardFromInventory(card.card_id)">
    <i class="bi bi-x"></i>
  </li>
</ul>

<ng-template #content let-modal>
  <div class="modal-header card-modal bg-dark">
    <h1 class="modal-title" id="modal-basic-title">{{card.card_name}}</h1>
    <button type="button" class="btn-close btn-close-white" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body card-modal text-black">
    <div class="d-flex justify-content-between">
      <div>
        <h2>Name: {{card.card_name}}</h2>
        <h2>Quality: {{card.quality}}</h2>
        <h2>Rarity: {{card.rarity}}</h2>
        <h2>
          Deck location:
          <span *ngIf="card.deck_location !== ''" class="badge text-bg-info fw-normal">
            {{card.deck_location}}
          </span>
          <span *ngIf="card.deck_location == ''" class="badge text-bg-info fw-normal">
            Unassigned
          </span>
        </h2>
        <h2>Set Name: {{card.set_name}}</h2>
        <h2>Colors:
          <span *ngIf="card.colors.length === 0">Colorless</span>
          {{card.colors}}
        </h2>
        <h2>
          Added at: {{card.created_at | date:'dd/MM/yyyy HH:mm'}}
        </h2>
        <h1>_______________________________________________________________________________________________________</h1>
        <ng-container *ngIf="card_details$ | async as card_details">
          <div class="container">
            <div class="row">
              <div class="col" *ngFor="let card_face of card_details.card_faces">
                <img src={{card_face.image_url}} alt={{card_face.image_url}} image class="card-image" loading="lazy">
                <h2>Name: {{card_face.card_name}}</h2>
                <h2>Colors:
                  <span *ngIf="card_face.colors.length === 0">Colorless</span>
                  {{card_face.colors}}
                </h2>                <h2>Mana Cost: {{card_face.mana_cost}}</h2>
                <h2>Text: {{card_face.oracle_text}}</h2>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>
