.col-6 {
  margin-top: 50px;
}

/* Start Scrolling Styles */
.example-viewport {
  height: 350px;
  width: 100%;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

.example-item-sidedecks {
  height: 100%;
  width: 60px;
  padding: 8px;

}
/* End Scrolling Styles */

/* Start Card styles */
:host ::ng-deep .card-img {
  width: 145px;
  height: 200px;
}


/* End Card Styles */