.blank-img {
    height: 269.67px;
    width: 194px;
}

.transparent {
    background-color: transparent;
    border: none;
}

.sizing {
    font-size: 13px;
}

.gap {
    margin-top: 15px;
}

.container {
    padding-top: 20px;
    //display: flex;
    //flex-direction: row;
    justify-content: center; /* align elements to the left */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.container > * {
    margin: 0 10px;
}

/* add padding between the elements */
@media only screen and (min-width: 960px) {
    .container{
        grid-gap: 20px;
    }
}
