<div class="container-fluid p-5 m-0">
    <div class="row row-cols-auto gy-4">
      <div class="d-flex border border-dark m-2 bg-light bg-opacity-25 rounded-1 p-0">
          <button type="button" (click)="open({content : content});" data-bs-toggle="modal" data-bs-target="#modal" class="btn btn-secondary opacity-25 flex-grow-1 add-deck-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
              </svg>
          </button>
      </div>

      <ng-template #content let-modal>
        <div class="modal-header bg-dark">
          <h4 class="modal-title text-light fs-4 text" id="modal-basic-title">Add deck</h4>
          <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form">
            <label class="form-label text-dark" for="name">Name:</label>
            <input type="name" name="name" class="form-control" placeholder="ex. Mono Deck" [formControlName]="'name'" id="name"
                   [ngClass]="{'is-valid': name.valid && name.touched,
                        'is-invalid': name.invalid && name.touched}">

            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger" class="alert alert-warning" role="alert">
              Deck must contain a name
            </div>

            <label class="form-label text-dark gap" for="decktype">Deck type:</label>
            <input type="decktype" name="decktype" class="form-control" placeholder="ex. EDH/Commander" [formControlName]="'decktype'" id="decktype"
                   [ngClass]="{'is-valid': type.valid && type.touched,
                        'is-invalid': type.invalid && type.touched}">>


              <div *ngIf="type.invalid && (type.dirty || type.touched)" class="text-danger" class="alert alert-warning" role="alert">
              Deck must contain a type
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="addDeck()">Add</button>
        </div>
      </ng-template>


      <div class="card border border-dark m-2 bg-light bg-opacity-25 rounded-1 p-0" *ngFor="let deck of decks">
        <button type="button"  (click)="removeDeck()" class="btn btn-dark" name="removeCardFromInventory"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg></button>
        <button type="button" class="btn btn-secondary transparent flex-grow-1" [routerLink]="'/decks/1'">

          <div *ngIf="deck.deck_cards.length > 0">
            <img class="card-img-top" src="{{deck.image_url}}" alt="">
          </div>
          <div class="blank-img" *ngIf="deck.deck_cards.length == 0">
            <img src="assets\blank.png" alt="">
            <p class="text-center text-dark fw-lighter sizing">No cards available</p>
          </div>
          <div class="card-body">
            <h3 class="card-title text-light-emphasis text-center">{{deck.name}}</h3>
            <h4 class="card-subtitle mb-2 text-light-emphasis">{{deck.deck_type}}</h4>
          </div>
        </button>
      </div>

    </div>
</div>
