<div class="container">
    <div class="row">
        <div class="col-2 d-flex border border-dark m-2 bg-light bg-opacity-25 rounded-1 p-0">
            <button type="button" class="btn btn-secondary opacity-25 flex-grow-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                </svg>
              </button>
        </div>
        <div class="card col-2 border border-dark m-2 bg-light bg-opacity-25 rounded-1" *ngFor="let deck of decks">
            <!-- <div style="height: 30px;" class="overflow-hidden" *ngFor="let card of deck.cards"> -->
                <img class="card-img-top" src="{{deck!.cards[0]!.imageUrl}}" alt="">
            <!-- </div> -->
            <div class="card-body">
              <h3 class="card-title text-light-emphasis text-center">{{deck.name}}</h3>
              <h4 class="card-subtitle mb-2 text-dark">{{deck.deck_type}}</h4>
            </div>
          </div>
    </div>
</div>
  

