#delete-board {
  float: right;
}

th {
  cursor: pointer;
}

:host ::ng-deep .mat-tab-label {
  color: floralwhite;
  font-size: 20px;
  margin-top: 15px;
  box-sizing: border-box;
}


:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

:host ::ng-deep .mat-tab-labels {
  flex-direction: column;
}

mat-tab-group {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

mat-tab-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep mat-ink-bar {
  display: none;
}

/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label.mat-tab-label-active {
  background-color: transparent;
  color: white;
  border-right: 2px solid white;
}
/* Styles for the active tab label */
:host ::ng-deep.mat-tab-label {
  background-color: transparent;
}

:host .toast{
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5em;
    z-index: 1200;
}

/* Styles for the sidebar menu list */
@media only screen and (min-width: 960px) {
  :host ::ng-deep .mat-tab-list {
    width: 300px;
  }
}
