.btn {
  opacity: 0.7;
  width: 230px;
  height: 300px;
}

/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.full-width {
  width: 90%;
}

.dropdown {
  display: flex;
  height: 100%;
  width: 100%;
}

img {
  width: 150px;
  height: 200px;
}

.search {
  background-color: transparent;
  border: none;
}

.modal-background {
  background-color: #1a1d20;
}

::ng-deep .cdk-overlay-container {
  // To show drop down menu in modal
  z-index: 9999;
}

.btn-dark {
  width: 100px;
  height: 50px;
}

.btn-dark:disabled {
  opacity: 0.5;
}
