<div class="container-fluid p-5 m-0" aria-label="collection">
  <div class="row row-cols-auto gy-4">
    <ng-container *ngIf="inventory$ | async as inventory">
      <app-add-card-component [inventory_id]="inventory.inventory_id"
                              class="col"></app-add-card-component>

      <app-cards-details-page class="col" *ngFor="let card of inventory.inventory_cards  | paginate: { itemsPerPage: 1, currentPage: activePage}"
                [card]="card" [inventory_id]="inventory.inventory_id">
      </app-cards-details-page>
    </ng-container>

    <div class="text-center">
      <span *ngIf="isLoading$ | async"
            class="spinner-border spinner-border" role="status" aria-hidden="true">
      </span>
    </div>
  </div>
</div>

<pagination-controls class="pagination" (pageChange)="activePage = handlePageEvent($event)"></pagination-controls>
