.card-image {
  height: 260px;
}

.card-modal-image {
  height: 400px;
}

.card-size {
  width: 28%;
  height: 250px;
}

.collection-card {
  display: grid;
  position: relative;
}

.collection-card > img, div {
  grid-column: 1;
  grid-row: 1;
}

.pointer {
  cursor: pointer !important;
}

.card-action-footer {
  width: 100%;
  display: grid;
  justify-content: left;
}


