.card-image {
  height: 260px;
}

.card-modal-image {
  height: 400px;
}

.card-size {
  width: 28%;
  height: 250px;
}

.pointer {
  cursor: pointer !important;
}

.card-action {
  width: 190px !important;
}
