<div class="card-size mt-2 ms-2" aria-label="deck-card">
  <img src="{{card.image_url}}" alt="{{card.card_name}} image" class="card-image pointer" (click)="open({content : content});" />
  <div class="d-flex justify-content-end"></div>
  <div class="btn-group card-action" role="group">
    <button type="button" (click)="open({content : content});" class="btn btn-dark" name="openDeckCardDetailsModal">
      <i class="bi bi-eye"></i>
    </button>
    <button type="button" class="btn btn-dark">
      <i class="bi bi-arrow-left-right"></i>
    </button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header card-modal bg-dark">
    <h1 class="modal-title" id="modal-basic-title">
      {{card.card_name}}

      <app-color-icon [colors]="card.colors"></app-color-icon>

      <br/>
      <span class="badge text-bg-success mt-1">
        {{card.quality}}
      </span>
    </h1>
    <button type="button" class="btn-close btn-close-white" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
  </div>

  <div class="modal-body card-modal text-black">
    <div class="d-flex justify-content-between">
      <div>
        <h2>
          Value <i class="bi bi-tag-fill ms-1 me-1"></i>:
          {{displayAvailablePrice(card.prices)}}
        </h2>
        <h2>
          Rarity <i class="bi bi-stars ms-1 me-1"></i>:
          {{card.rarity | titlecase}}
        </h2>
      </div>
      <img src={{card.image_url}} alt="{{card.card_name}} image" class="card-modal-image" loading="lazy">
    </div>
  </div>
</ng-template>
